<!DOCTYPE html>
<html>
	<head>
		<title>Doggis</title>
		<%= csrf_meta_tags %>

		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>

	<body>
		<header class="navbar navbar-default navbar-static-top navbar-inverse">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">Doggis/Hundis/JJE</a>
			</div>
			<div id="navigation-container" class="container">
				<nav role="navigation">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/">Home</a></li>
						<li><a href="/problems">Problems</a></li>
						<li><a href="/tournaments">Tournaments</a></li>
						<li><a href="/users">Users</a></li>
						<li><a href="/login">Log In</a></li>
						<li><a href="/register">Register</a></li>
					</ul>
				</nav>
			</div>
		</header>
		<main id="main-container" class="content container">
			<%= yield %>
		</main>
	</body>
</html>
