@import "bootstrap-sprockets";
@import "bootstrap";

.navbar-default .navbar-nav a{
	color: purple;
}

.navbar-default {
	background-color: goldenrod;
}

.navbar-default .navbar-brand {
	font-size: 20px;
	color: purple;
}