// Place all the styles related to the Problems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



// Display Problem Page CSS(problem information)
  //left information field
  .problem-page .problem-info {
    float: left;
    color: white;
    background-color: goldenrod;
    width: 20%;
    height: flex;
  }

  .problem-page .problem-info p{
    color: white;
    padding-top: 10px;
    padding-left: 5px;
  }

  //Problem description
  .description {
    float: left;
    width: 80%;
  }

  .description .problem-heading {
    text-align: center;
    font-size: 25px;
  }

  .description .problem-heading p {
    color: white;
  }

  .description .problem-description p {
    color: black;
  }

  .description .descriptor {
    text-align: center;
    padding-bottom: 20px;
    font-size: 20px;
  }

  .description .problem-description {
    display: 80%;
    font-size: 14px;
  }

  // links on bottom
  .links {
    float: left;
    padding-left: 10px;
  }


// Problem Page
.panel .panel-title {
  color: indigo;
  text-align: center;
  font-size: 25px;
}

.panel .panel-heading a {
  color: white;

  &:visited {
      color: indigo;
    }

    &:hover {
      color: goldenrod;
      background-color: indigo;
    }
}

.problems .create-problem a {
    margin-left: 20px;
    color: white;

    &:visited {
      color: white;
    }

    &:hover {
      color: goldenrod;
      background-color: indigo;
    }
}

.panel .problem-name {
  color: indigo;
}


.panel .panel-info {
  color: black;
}

.panel .panel-heading {
  background-color: goldenrod;
  color: black;
}

.panel .row {
  color: black;
}