// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login_btn_icon {
	height: 2em;
}

h1 {
  font-size: 50px;
  text-align: center;
	color: goldenrod;
}

h2, h3 {
  font-size: 18px;
  padding: 20px;
  color: goldenrod;
}

p {
  margin: 33px;
}

a {
  color: goldenrod;

  &:visited {
    color: purple;
  }

  &:hover {
    color: goldenrod;
    background-color: purple;
  }
}

table {
  display: inline-table;
  width: flex;
}

thead, th {
	background-color: goldenrod;
	color: white;

  padding-bottom: 5px;
  padding-right: 33px;
}

tr {
	background-color: whitesmoke;
	color: black;
  padding-left: 10px;
  padding-right: 10px;
}

td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

label {
  display: block;
}