// Place all the styles related to the tournaments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tournaments .create-tournament a {
  margin-left: 20px;
  color: white;

  &:visited {
    color: white;
  }

  &:hover {
    color: goldenrod;
    background-color: indigo;
  }
}

// Display tournament Page CSS(problem information)
  .tournament .tournament-heading {
    text-align: center;
    font-size: 25px;
  }

  .tournament .tournament-heading p {
    color: white;
  }

  .tournament .tournament-body p {
    color: black;
    padding-top: 10px;
    padding-left: 10px;
  }

  // links on bottom
  .links {
    float: left;
    padding-left: 10px;
  }