// Place all the styles related to the tournaments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tournaments .create-tournament a {
  margin-left: 20px;
  color: white;

  &:visited {
    color: white;
  }

  &:hover {
    color: goldenrod;
    background-color: indigo;
  }
}
