// Display Problem Page CSS(problem information)
  //left information field
  .problem-page .problem-info {
    float: left;
    color: white;
    background-color: goldenrod;
    width: 20%;
    height: flex;
  }

  .problem-page .problem-info p{
    color: white;
    padding-top: 10px;
    padding-left: 5px;
  }

  //Problem description
  .description {
    float: left;
    width: 80%;
  }

  .description .problem-heading {
    text-align: center;
    font-size: 25px;
  }

  .description .problem-heading p {
    color: white;
  }

  .description .problem-description p {
    color: black;
  }

  .description .descriptor {
    text-align: center;
    padding-bottom: 20px;
    font-size: 20px;
  }

  .description .problem-description {
    display: 80%;
    font-size: 14px;
  }

  // links on bottom
  .links {
    float: left;
    padding-left: 10px;
  }