<header class="navbar navbar-default navbar-static-top">
	<div class="navbar-header">
		<a class="navbar-brand" href="/">Doggis/Hundis/JJE</a>
	</div>
	<div id="navigation-container" class="container">
		<nav role="navigation">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/">Home</a></li>
				<li><a href="/problems">Problems</a></li>
				<li><a href="/tournaments">Tournaments</a></li>
				<li><a href="/users">Users</a></li>
				<li><a href="/auth/login">Log In</a></li>
				<li><a href="/auth/register">Register</a></li>
			</ul>
		</nav>
	</div>
</header>
