<%= form_for(contain) do |f| %>
  <% if contain.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contain.errors.count, "error") %> prohibited this contain from being saved:</h2>

      <ul>
      <% contain.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
