<option value="c"		>C			</option>
<option value="cpp"		>C++		</option>
<option value="py"		>Python		</option>
<option value="d"		>D			</option>
<option value="go"		>Go			</option>
<option value="ruby"	>Ruby		</option>
<option value="csharp"	>C# (Mono)	</option>
<option value="pascal"	>Pascal		</option>
<option value="js"		>JavaScript (NodeJS)</option>
<option value="scala"	>Scala		</option>
<option value="php"		>PHP		</option>
<option value="haskell"	>Haskell	</option>
<option value="lua"		>Lua		</option>
<option value="lisp"	>Lisp		</option>
