<h4>Popular Problems</h4>
<table class="table table-striped">
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Category</th>
			<th>Difficulty</th>
			<th>Value</th>
			<th>Solves</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>1</td>
			<td>Hello World</td>
			<td>Basics</td>
			<td>trivial</td>
			<td>1.5 pt</td>
			<td>75,086</td>
		</tr>
		<tr>
			<td>489</td>
			<td>Add Integers</td>
			<td>Math</td>
			<td>easy</td>
			<td>2.0 pt</td>
			<td>55,921</td>
		</tr>
		<tr>
			<td>35</td>
			<td>Bubble Up</td>
			<td>Sorting</td>
			<td>medium</td>
			<td>5.5 pt</td>
			<td>15,725</td>
		</tr>
		<tr>
			<td>4523</td>
			<td>Square Factorial</td>
			<td>Math</td>
			<td>hard</td>
			<td>7 pt</td>
			<td>1,209</td>
		</tr>
		<tr>
			<td>9640</td>
			<td>P vs NP</td>
			<td>Complexity</td>
			<td>???</td>
			<td>9001 pt</td>
			<td>0</td>
		</tr>
	</tbody>
</table>

