<h4>Top Users</h4>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Rank</th>
			<th>User</th>
			<th>Org</th>
			<th>Score</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>1</td>
			<td><a href="/users/skgrush">skgrush</a></td>
			<td><i>&lt;indie&gt;<i></td>
			<td>9001</td>
		</tr>
		<tr>
			<td>2</td>
			<td><a href="/users/kbw6d9">kbw6d9</a></td>
			<td>Missouri S&amp;T</td>
			<td>8762</td>
		</tr>
		<tr>
			<td>3</td>
			<td><a href="/users/jmgv27">jmgv27</a></td>
			<td>Missouri S&amp;T</td>
			<td>90</td>
		</tr>
		<tr>
			<td>4</td>
			<td><a href="/users/jjnb78">jjnb78</a></td>
			<td>Missouri S&amp;T</td>
			<td>-4000</td>
		</tr>
	</tbody>
</table>

