<h4>Currently Running</h4>
<table class="table table-striped">
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Org</th>
			<th>Started</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>12</td>
			<td><a href="/tournaments/12">Kids Koding 12</a></td>
			<td>Kids Koding&trade;</td>
			<td>March 12, 2017</td>
		</tr>
		<tr>
			<td>9</td>
			<td><a href="/tournaments/9">S&amp;T Test</a></td>
			<td>Missouri S&amp;T</td>
			<td>March 8, 2017</td>
		</tr>
		<tr>
			<td>7</td>
			<td><a href="/tournaments/7">ACM SIG COMP '17</a></td>
			<td>Missouri S&amp;T</td>
			<td>March 7, 2017</td>
		</tr>
		<tr>
			<td>4</td>
			<td><a href="/tournaments/4">Easy Comp</a></td>
			<td><i>none</i></td>
			<td>March 1, 2017</td>
		</tr>
	</tbody>
</table>

