<%= form_for(competes_in) do |f| %>
  <% if competes_in.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(competes_in.errors.count, "error") %> prohibited this competes_in from being saved:</h2>

      <ul>
      <% competes_in.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
