<h1>Welcome to J²E</h1>

	<div class="Welcome">
		<h2>About Us</h2>
		<p> J²E is an online programming judge. </p>
		<p> The purpose of this website is to allow a user to practice their programming skills.  In order to do so there are problems found on this website that a user can attempt to code a solution to and submit it for grading.  If the answer is correct the user's score will increase, if not then the user will be notified that there is a problem with their code. </p>
	</div>

	<div class="clearfix">
		<div class="col-md-6">
			<div class="page-headline clearfix">
				<h3> User rankings </h3>
			</div>

			<table class="rankings">
				<thead>
					<tr>
						<th> Rank </th>
						<th> Name </th>
						<th> Score </th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td> 1 </td>
						<td> Verzesh </td>
						<td> 100 </td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="clearfix">
		<div class="col-md-6">
			<div class="page-headline clearfix">
				<h3> Problems </h3>
			</div>

			<table class="rankings">
				<thead>
					<tr>
						<th> ID </th>
						<th> Name </th>
						<th> Score </th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td> 1 </td>
						<td> Hello, world! </td>
						<td> 100 </td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="clearfix">
		<div class="col-md-6">
			<div class="page-headline clearfix">
				<h3> Least Solved Problems </h3>
			</div>

			<table class="rankings">
				<thead>
					<tr>
						<th> ID </th>
						<th> Name </th>
						<th> Score </th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td> 25 </td>
						<td> Entertainer </td>
						<td> 1000 </td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="clearfix">
		<div class="col-md-6">
			<div class="page-headline clearfix">
				<h3> Tournaments </h3>
			</div>

			<table class="rankings">
				<thead>
					<tr>
						<th> # </th>
						<th> Tournament </th>
						<th> Host </th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td> 1 </td>
						<td> Coding Cup </td>
						<td> Bethesda </td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>