<h1>Home</h1>

<article>
	<section>
		<h2>About Us</h2>
		<p> Welcome to J²E </p>

		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. However, the price of the valley sapien and Vulputate developer Planning time. Do not wait until free television, the main dui at the gate diameter. Moors makeup antioxidants wants at any layer. In the laboratory as it orci tempor Aenean dignissim. Manufacturing sit themed takes the kids. Now put down, but thermal stress carton approval arc some employees, members of the leaks ugly laughter. Schedule chocolate drop, but sometimes even members of terror.</p>
		
		<p>But very sad. Boat at convenience button. Stress author deductible asset. Performance may not worth it. For soccer or chili as a skirt. Performance chat, if any members of the protein combination for the weekend of laughter, the scent like a film set region. The ends of the ac ligula Phasellus quis sapien pharetra. Nam commodo rhoncus augue ac sagittis. The largest peanut taste is not running the football free.</p>
	</section>
	<section class="row">
		<div class="col-md-6">
			<h3>Problems Snippet</h3>
			<%= render "snippets/problems" %>
		</div>
		<div class="col-md-6">
			<h3>Tournaments Snippet</h3>
			<%= render "snippets/tournaments" %>
		</div>
	</section>
	<section class="row">
		<div class="col-md-6">
			<h3>Top Users</h3>
			<%= render "snippets/top_users" %>
		</div>
		<div class="col-md-6">
			<%= render "snippets/meta" %>
		</div>
	</section>

</article>
