<h1>Creating an Account</h1>
  	<header class="navbar navbar-fixed-top navbar-inverse">
  		<div class="container">
  			<nav>
  				<ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home", 'http://localhost:3000' %></li>
            <li><%= link_to "Problems", 'http://localhost:3000/static_pages/Problems' %></li>
  					<li><%= link_to "Sign In", 'http://localhost:3000/static_pages/User_Signin' %></li>
  					<li><%= link_to "Account", 'http://localhost:3000/static_pages/User_Account' %></li>
  				</ul>
  			</nav>
  		</div>
  	</header>
<p>Just creating the pages needed for the website</p>
