<h1>Home</h1>
	<header class="navbar navbar-fixed-top navbar-inverse">
  		<div class="container">
  			<nav>
  				<ul class="nav navbar-nav navbar-right">
            		<li><%= link_to "Problems", 'http://localhost:3000/static_pages/Problems' %></li>
            		<li><%= link_to "User Creation", 'http://localhost:3000/static_pages/Create_User' %></li>
  					<li><%= link_to "Sign In", 'http://localhost:3000/static_pages/User_Sign_In' %></li>
  					<li><%= link_to "Account", 'http://localhost:3000/static_pages/User_Page' %></li>
  				</ul>
  			</nav>
  		</div>
  	</header>
<p>Find me in app/views/static_pages/Home.html.erb</p>
