<h1>Users</h1>

<article>
	<section>
		<%= render "snippets/top_users" %>
	</section>
	<section>
		<h3>All Users</h3>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Rank</th>
					<th>User</th>
					<th>Org</th>
					<th>Score</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td><a href="/users/skgrush">skgrush</a></td>
					<td><i>&lt;indie&gt;<i></td>
					<td>9001</td>
				</tr>
				<!-- ... -->
			</tbody>
		</table>
	</section>
</article>
